
.gradle/2.2.1/taskArtifacts/cache.properties

.gradle/2.2.1/taskArtifacts/cache.properties.lock

.gradle/2.2.1/taskArtifacts/fileHashes.bin

.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

.gradle/2.2.1/taskArtifacts/outputFileStates.bin

.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

.idea/compiler.xml

.idea/.name

.idea/encodings.xml

.idea/libraries/ant_1_8_0.xml

.idea/workspace.xml

.idea/modules.xml

.idea/misc.xml

.idea/libraries/support_annotations_21_0_3.xml

.idea/libraries/robolectric_2_4.xml

.idea/libraries/sqlite4java_0_282.xml

.idea/libraries/objenesis_1_3.xml

.idea/libraries/maven_ant_tasks_2_1_3.xml

.idea/libraries/commons_codec_1_3.xml

.idea/libraries/asm_util_5_0_1.xml

.idea/libraries/support_v4_21_0_3.xml

*.xml

app/app.iml

build/intermediates/model_data.bin

J2WBase.iml
